.button {
    background-color: var(--yellow);
    align-self: center;
    color: var(--bg);
    border-color: var(--purple);
    font-family: 'Kode Mono';
    font-size: 1rem;
    font-weight: 900;
    width: 8rem;
    border-radius: 5px;
    padding: 0.5em;
    width: 12rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    margin: 1em;
}

.button:hover {
    background-color: var(--purple);
    color: var(--white);
    border-color: var(--blue);
    cursor: pointer;
}
@media (min-width: 1200px) {
    .button {
        font-size: 1rem;
    }
}
